body{
    margin: 0;
    font-size: 14px;
    display: grid;
    grid-template-areas:'header header header header'
                        'navbar navbar navbar navbar'
                        'section section section aside'
                        'batata batata batata batata'
                        'footer footer footer footer';
grid-template-rows: 20vh 10vh 60vh 40vh 05vh;
grid-template-columns: 24vw 24vw 24vw 26.75vw;                    
}

nav{
    grid-area: navbar;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
}

nav a{
    font-size: 22pt;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: white;
    padding-top: 12px;
}

header{
    grid-area: header;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
}

header img{
    height: 100%;
    border-radius: 15px;
    padding-right: 100px;
}

.batata{
    grid-area: batata;
    background: url(img/neymaer.jpg)
}

.fake p{
    font-size: 1.2rem;
}

section{
    grid-area: section;
    background-color: brown;
}

footer{
    grid-area: footer;
    background-color: black;
}

aside{
    grid-area: aside;
    background-color: rgb(194, 10, 71);

}

aside img{
    width: 100%;

}

.teste2{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

iframe{
    width: 100%;
    padding-top: 40px;

}

.teste3{
    font-size: 1.2rem;
}
